*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    background: #FFFBFC;
    border-radius: 5px;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #010400;
    border-radius: 20px;
    border: 2px solid #FFFBFC;
}
  
*::-webkit-scrollbar-thumb:hover {
    background-color: #30332E;
}

*::selection{
    background-color: #30332E;
    color: #FFFBFC;
}