@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #FFFBFC;
  --foreground: #010400;
  --subtitle: #30332E;
  --importantText: #6FB8EC;

  --title-font: var(--font-jacques-francois);
  --text-font: var(--font-karla-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010400;
    --foreground: #FFFBFC;
    --subtitle: #cacaca;
  }
}

.dark{
  --background: #010400;
  --foreground: #FFFBFC;
  --subtitle: #cacaca;
}

.bg-color {
  background-color: var(--background);
}

.bg-color-reverse {
  background-color: var(--foreground);
}

.title-color {
  color: var(--foreground);
}

.text-color {
  color: var(--foreground);
}

.text-color-reverse {
  color: var(--background);
}


.subtitle-color {
  color: var(--subtitle);
}

.important-text {
  color: var(--importantText);
}

.font-title {
  font-family: var(--title-font) !important;
}

.font-text {
  font-family: var(--text-font);
}

nextjs-portal {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--text-font);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 4px;
  border: 2px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}